[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-jazzmin = "*"
pillow = "*"
psycopg2-binary = "*"
django = "*"
django-admin-thumbnails = "*"
whitenoise = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.13"
