<header class="border-bottom mb-4 pb-3">
  <div class="d-flex justify-content-end">
    <div class="form-inline">
      <label class="mr-2 mb-0">Sort By:</label>
      <select class="form-control mr-3">
        <option>Best Match</option>
        <option>Price: Low to High</option>
        <option>Price: High to Low</option>
        <option>Newest Arrivals</option>
      </select>

      <label class="mr-2 mb-0">View:</label>
      <select class="form-control">
        <option>Grid</option>
        <option>List</option>
      </select>
    </div>
  </div>
</header>
