{%extends 'master/base.html'%} {%block content%}
<section class="section-content padding-y bg">
  <div class="container text-center">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-12">
          <h1 class="display-4 text-danger">404</h1>
          <h2 class="text-muted">Oops! Page Not Found</h2>
          <p class="lead">
            Sorry, the page you're looking for doesn't exist. It may have been
            moved, deleted, or the URL could be incorrect.
          </p>
          <a href="/" class="btn btn-primary">Go Back to Home</a>
          <br /><br />
          <p class="text-muted">
            If you need further assistance, feel free to contact us.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
